@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  @apply w-[10px] ;
}

::-webkit-scrollbar-track {
  @apply shadow-none;
}

::-webkit-scrollbar-thumb{
  @apply bg-[#f5f7fa]   
} */

@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertRegular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  @apply bg-[#111111]  overflow-hidden  text-[#F5F5F5]  font-["roobert"] ;
}


.bg {
  position: fixed;
 z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 199%;
  height: 200vh;
  background: transparent url('/assets/noise-transparent.png') repeat  0 0 ;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 1;
  visibility: visible;
}


@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}