@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-[10px] ;
}

::-webkit-scrollbar-track {
  @apply shadow-none;
}

::-webkit-scrollbar-thumb{
  @apply bg-[#f5f7fa] rounded-md  
}

@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertRegular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roobert";
  src: url("/fonts/RoobertLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  @apply bg-black   text-[#F5F5F5]  font-["roobert"] ;
}

